<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ovit.cloud.projectMonitor.mapper.ProjectMonitorMapper">
    <select id="testJdbc" resultType="Map">
        select * from tbl_device
    </select>
</mapper>